.git
.gitignore
.dart_tool
.pub-cache
.pub
build
coverage
.idea
*.iml
**/.DS_Store
**/doc/api
android/.gradle
android/app/debug
android/app/profile
android/app/release
ios/Pods
linux/flutter/ephemeral
windows/flutter/ephemeral
macos/Flutter/ephemeral
